@use "../../scss/" as *;

.lists {
    margin-top: 1.5rem;
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 50%;
        }
    }
}

@media(max-width: 350px) {
    .lists {
        .swiper-slide {
            width: 100%;
        }
    }
}